<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alertas!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    </head>
  <body>
    <div class="alert alert-dismissible alert-danger w-25">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>¡Alerta! Este nombre de usuario ya existe,</strong> intente nuevamente con otro nombre.
    </div>
        
    <div class="alert alert-dismissible alert-danger w-25">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>¡Alerta! Las contraseñas no coinciden,</strong> intente nuevamente 
    </div>

    <div class="alert alert-dismissible alert-danger w-25">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>¡Alerta! Favor llenar todos los campos</strong> 
    </div>    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js" ></script>  
  </body>
</html>
