{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

    
    <title>Cambio de Contraseña</title>

  </head>
  <body>
<!--*********************Inicia el contenido***********************************************************-->
 <div class="container-fluid">
     <div class="row justify-content-center ">
            <form method="POST">{% csrf_token %} 
                <fieldset>
                    <legend>Recuperar Contraseña</legend>
                    <!--<h1 class="h3 mb-3 font-weight-normal">Recuperar Contraseña</h1>-->
                    <label for="inputEmail" class="sr-only">Email address</label>
                    <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email" required autofocus>
                    <br>
                    {% if msg %}
                    {{ msg }} <br>
                    {% endif %}
                
                    <div class="row justify-content-center">
                            <button class="btn btn-lg btn-success ml-5 pt-1 pb-2" type="submit">Recuperar</button>
                            <hr data-reactid="60">
                        </div>
                    </div>
                    
                    
                </fieldset>         
            </form>

     </div>
 </div>
  

  </body>
</html>